[Unit]
Description=netfilter download updates
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/home/netfilter
Type=oneshot
User=root

ExecStart=/etc/systemd/system/netfilter.download.script start
ExecStop=/etc/systemd/system/netfilter.download.script stop

#TimeoutSec=240

[Install]
WantedBy=multi-user.target
